.authform {
	top: 3rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 15%;
    form {
        margin: auto;
        .form-field {
            flex-direction: column;
            justify-content: flex-start;
            input {
                width: 13rem;
                padding: .5rem;
                &:focus {
                    border: 2px solid $medium-element;
                    background-color: $softer-element;
                }
            }
        }
    }
}
