* {
    box-sizing: border-box;
    color: $color;
    transition: background-color .3s;
}

*:focus {
    outline: none;
}


ul {
    list-style-type: none;
}

html {
    font-size: $font;
    font-family: $font-family;
    @media screen and (max-width: $small) {
        font-size: $medium-font;
    }

    body {
        background-color: $bg-color;
        margin: 0;
        width: 100vw;
        overflow-x: hidden;
    }

    a {
        text-decoration: none;
    }
}

a {
    color: $color;
    padding: .25rem 1rem;
}
a:active, a:hover {
    color: $element-color;
}

.content {
    position: sticky;
    top: 3.5rem;
    height: 100vh;
    width: 100vw;
    transition: all .5s;
    .section-header {
        margin: 0;
        padding: 1rem;
        width: 100%;
        background-color: $menu-color;
        display: flex;
        justify-content: flex-end;
        >span {
            vertical-align: middle;
            padding-right: 1rem;
        }
        border-top-left-radius: 3rem;
    }
    .section-content {
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        &.form {
            margin: 2rem;
            display: flex;
            align-items: flex-start;
            flex-direction: column;
        }
    }
    .view-content, .section {
        position: inherit;
        top: 6rem;
        margin: auto;
        width: 50vw;
        min-height: 70vh;
        background-color: $medium-color;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3rem;
        @media screen and (max-width: $small) {
            width: 80vw;
        }
    }
}

.menu-tiles {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    .menu-tile {
        background-color: $element-color;
        border: none;
        width: 6rem;
        height: 6rem;
        margin: .25rem .25rem;
        font-size: $medium-font;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 2px 2px 2px $color;
        span, i {
            padding: .5rem 0;
            color: $negative-color;
        }
        @media screen and (max-width: $small) {
            padding: 0;
            width: 3rem;
            height: 3rem;
            i {
                margin: auto;
            }
            span {
                display: none;
            }
        }
    }

    .menu-tile:hover {
        background-color: $active-color;
        cursor: pointer;
    }
    
    .menu-button.disabled:hover {
        background-color: $element-color;
    }
    
    .menu-button:hover {
        background-color: $active-color;
    }
    
    .disabled, .disabled:hover {
        opacity: 0.6;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.app {
    display: flex;
    flex-wrap: wrap;
    @media screen and (max-width: $small) {
        flex-direction: column;
        .content {
            padding: 0;
        }
    }
    .navbar {
        width: 100%;
    }
}

.loader {
    display: inline-block;
    opacity: 60%;
    border: 4px solid $softer-color;
    border-bottom: 4px solid $element-color;
    border-top: 4px solid $element-color;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    100% { transform: rotate(360deg);}
}

.error {
    font-size: $small-font;
    background-color: $error-bg;
    color: $error-color;
    border: 1px solid $error-border;
    padding: .5rem;
    max-width: 80%;
}

