.expences {
	table {
		width: 100%;
		thead tr {
			:nth-child(1), :nth-child(2) {
				width: 20%
			}
		}
		.paidFor {
			span {
				padding: .2rem .5rem;
				margin-right: .5rem;
				border: 2px solid $element-color;
				border-radius: 20px;
				background-color: $element-color;
				color: $bg-color;
				transition: border .5s linear;
				&:hover {
					border: 2px solid $softer-element;
				}
				&::after {
					display: inline-block;
					content: "";
					max-width: 0;
					opacity: 0;
					transition: max-width .3s, opacity 0.3s linear;
				}
				&:hover::after {
					display: inline-block;
					width: auto;
					max-width: 100px;
					content: attr(title);
					opacity: 1;

				}
			}
		}
	}
}