.submit-button {
    background-color: $element-color;
    border: none;
    color: $negative-color;
    padding: .40rem 1rem;
    margin: 0 .25rem;
    font-size: 17px;
}
.submit-button:disabled, .submit-button:disabled:hover {
    background-color: $element-color;
    opacity: 0.6;
    cursor: not-allowed;
}
.submit-button:hover {
    background-color: $active-color;
}

.form-output {
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.section {
    input, select {
        padding: .5rem;
        border: none;
        border-bottom: 2px solid $element-color;
    }
    input:focus {
        background-color: $softer-element;
    }
    
}

.select {
    position: relative;
    cursor: pointer;
    .select-input {
        padding: .5rem;
        border: none;
        border-bottom: 2px solid $element-color;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: nowrap;
        &.focus {
            background-color: $softer-element;
            span {
                flex: 0;
                padding: 0 .3rem;
                font-weight: bold;
                color: $medium-element;
                &:hover {
                    color: $element-color;
                }
            }
        }
        
        &:not(.focus) {
            span {
                visibility: hidden;
            }
            &:hover::after {
                content: "";
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid $medium-element;
                position: absolute;
                right: .5rem;
            }
        }
        &.multi {
            padding: 0.3;
            &> .selected-options {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                flex: 5;
                .selected-option {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    background-color: $element-color;
                    color: $negative-color;
                    margin-right: .5rem;
                    padding: 0 0.3rem;
                    
                }
            }
             
        }
    }
    .select-input, .select-options, .option {
        font-size: $medium-font;
        background-color: white;
    }

    .select-options {
        position: absolute;
        z-index: 10;
        margin: 0;
        padding: 0;
        width: inherit;
        opacity: 1;
        transition: opacity .2s linear;
        box-shadow: 2px 2px 6px 0 $color;
        &.hidden {
            opacity: 0;
            visibility: hidden;
        }
		.placeholder {
			padding: .5rem;
		}
        .option {
            padding: .5rem;
            &:hover {
                background-color: $softer-color;
                color: $color;
            }
            &.selected, &:focus {
                background-color: $element-color;
                color: $negative-color;
            }
        }   
    }
}

.placeholder, ::placeholder {
	color: $lighter-color;
	opacity: 1;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    .form-field {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        padding: 0.25rem;
        .field-label {
            padding: 0.25rem;
        }
        .field-input {
            width: 20rem;
            input, .select {
                width: 100%;
                font-size: $medium-font;
            }
        }
        @media screen and (max-width: $small) {
            flex-direction: column;
            .field-input {
                width: 100%;
            }
        }
        
    }
    .form-output {
        padding: 1rem;
        display: flex;
        justify-content: center;
    }
}