.home-view {
    background: linear-gradient(45deg, $active-color, rgba(0, 0, 0, 0.8));
    // background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url("../Styles//Images/background.jpg");
    background-position: 0 35%;
    height: 70vh;
    text-align: center;
    position: relative;
    .home-content {
        top: 50%;
        left: 10%;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        color: white;
    }
    .title {
        color: white;
        font-weight: bold;
        font-size: 3rem;
        margin-bottom: 0;
    }
    .description {
        font-size: 1.5rem;
        color: white;
    }

    @media screen and (max-width: $small) {
        background: linear-gradient(45deg, $active-color, rgba(0, 0, 0, 0.8));
        height: 70vh;
        .home-content {
            top: 30%;
            left: 0%;
            justify-content: center;
            // align-items: center;
        }
    }
    
}