.navbar {
    top: 0;
    position: fixed;
    z-index: 10;
    background-color: $nav-color;
    height: 3.5rem;
    padding: 0.75rem 1rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    box-shadow: 5px 1px 5px 0px $color;
    a:hover, a:active, a.active {
        color: $element-color;
        font-weight: 600;
        letter-spacing: 0;
    }
    a {
        letter-spacing: 0.235px
    }
    .navbar-logo {
        align-items: flex-end;
        font-size: 20px;
        &.disabled {
            pointer-events: none;
            a:hover {
                color: $color;
                font-weight: 400;
                letter-spacing: 0.235px
            }
        }
    }
    .navbar-items {
        display: flex;
        flex: 4;
        justify-content: flex-end;
        padding: auto;
    }
}

.menu {
    position: fixed;
    z-index: 1;
    display: flex;
    background-color: $menu-color;
    flex: 1;
    box-shadow: 1px 5px 5px 0px $color;
    ul {
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        li {
            width: 100%;
            a {
                display: block;
                padding: 1rem;
            }
            a.active {
                color: $element-color;
                font-weight: 500;
            }
        }
        :hover {
            background-color: $bg-color;
            font-weight: 500;
        }
    }
    top: 3.5rem;
    @media screen and (min-width: $small) {
        height: 100vh;
        width: 15vw;
        animation: eject-menu ease-out .3s;
    }

    @media screen and (max-width: $small) {
        width: 100vw;
        animation: eject-menu-small ease-out .3s;
    }
}

@keyframes eject-menu {
    0% { left: -100px; }
    100% { left: 0px;}
}

@keyframes eject-menu-small {
    0% { top: -100px; }
    100% { top: 3.5rem; }
}

.toggle-menu {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1.5rem;
    .toggle-menu-bar {
        width: 1.5rem;
        height: .1rem;
        background-color: $color;
        transition: 0.3s;
    }

    :nth-child(1).opened {
        transform: translateY(.5rem) rotate(-45deg);
    }
      
    :nth-child(2).opened {
        opacity: 0;
    }
      
    :nth-child(3).opened {
        transform: translateY(-.5rem) rotate(45deg);
    }
}

.toggle-menu:hover {
    cursor: pointer;
    .toggle-menu-bar {
        background-color: $element-color;
    }
}


.backdrop {
    z-index: 1;
    background-color: black;
    opacity: 60%;
    position: fixed;
    height: 100vh;
    width: 100vw;
    animation: show-backdrop ease-out .2s;
}

@keyframes show-backdrop {
    0% { opacity: 10%; }
    100% { opacity: 50%; }
}

