.roomates-list {
    padding: 0;
    width: 100%;
    
    li {
        background-color: $bg-color;
        display: flex;
        align-items: center;
        padding: .5rem 1rem;
        margin-bottom: 2px;
        span:nth-child(2) {
            padding-left: 2rem;
        }
        .avatar {
            height: 40px;
            width: 40px;
            background-color: #bbb;
            border-radius: 50%;
            position: relative;
            overflow: hidden;
            box-shadow: 2px 2px 4px 0px $color;
        }
        .avatar::before, .avatar::after {
            position: absolute;
            color:#36bed4;
            background:white;
        }
        .avatar::before {
            content: "\00a0";
            border-radius: 5px;
            top: 30px;
            left: 13px;
            height: 20px;
            width: 15px;
        }
        .avatar::after {
            content: "\00a0";
            border-radius: 10px;
            height: 20px;
            width: 20px;
            top: 10px;
            left: 10px;
            box-shadow: 0px 1px 2px 0px $softer-color;
        }
    }
    .selected {
        font-weight: 500;
        span {
            color: $element-color;    
        }
        .avatar {
            background-color: $medium-element;
        }
    }
    li:hover {
        background-color: $softer-color;
        cursor: pointer;
    }
}