$bg-color: rgb(240, 240, 240);
$nav-color: rgb(255, 255, 255);
$medium-color: rgb(245, 245, 245); 
$menu-color:  rgb(250, 250, 250); 
$color: rgb(66, 66, 66);
$lighter-color: rgb(143, 143, 143);
$softer-color: rgb(212, 212, 212);
$negative-color: white;
$active-color: rgb(1, 85, 85);
$element-color: teal;
$medium-element: rgb(83, 172, 172);
$softer-element: rgb(213, 230, 230);
$error-bg: rgb(228, 178, 178);
$error-color: rgb(177, 63, 63);
$error-border: rgb(224, 150, 150);

$font-family: "Segoe UI", Helvetica, Arial, sans-serif;
$small-font: 12px;
$medium-font: 15px;
$font: 17px; 

$small: 600px;
$medium: 900px;