table {
	border-collapse: collapse;
	thead {
		th {
			text-align: left;
			padding: .5rem;
		}
	}
	tbody {
		tr {
			background-color: $bg-color;
			border-left: hidden;
			border-right: hidden;
			&:nth-child(even) {
				background-color: $medium-color;
			}
			&:hover {
				background-color: $softer-color;
			}
			td {
				padding: .5rem
			}
		}
	}
	
}